body {
	color: #414648;
}

#mainB {
	border-top: 1px solid rgb(41, 43, 44);  
	border-bottom: 1px solid rgb(41, 43, 44); 
	background-color: #e4e4e4;  
}

#mainSentence, #modifier {
	margin-right: 30px;
}

h1 {
	align-items: center;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	text-align: center;
}
img{
	display: block;
	margin: 20px auto;
}

.btn-list {
	display: block;
	margin: 10px;
}

#errorM {
	margin-bottom: 0;
}
